@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    @apply print:wrap-break-word;
  }

  body {
    @apply font-sans leading-relaxed text-highlighted;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ol,
  ul {
    @apply list-outside pl-5 my-4;
  }

  li:has(span[lang="xdq"]) {
    @apply leading-snug;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold leading-tight print:break-inside-avoid print:break-after-avoid;
  }

  h1,
  h2,
  h3 {
    @media print {
      orphans: 3;
      widows: 3;
    }
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl mt-12;
  }

  h3 {
    @apply text-xl mt-8;
  }

  h4 {
    @apply text-lg mt-6;
  }

  h5 {
    @apply text-base mt-5;
  }

  h6 {
    @apply text-sm mt-4;
  }

  p {
    @apply my-4;
  }

  a {
    @apply transition-colors duration-200 underline underline-offset-[0.2em] decoration-(--ui-text-muted) hover:decoration-(--ui-text-highlighted);
  }

  hr {
    @apply border-default;
  }

  table {
    @apply my-6 w-full border-collapse rounded-sm bg-elevated text-[0.875rem];
  }

  tbody {
    tr {
      @apply border-b border-default/50 print:break-inside-avoid;

      &:last-child {
        @apply border-b-0;
      }
    }
    td {
      @apply px-3 py-1.5 align-text-top leading-snug;
    }
  }

  figure {
    @apply my-6 print:break-inside-avoid;

    img {
      @apply rounded-sm w-full object-cover object-top dark:opacity-90;
    }

    table {
      @apply my-0;
    }
  }

  figcaption {
    @apply mt-3 italic text-center text-xs text-toned;
  }

  blockquote,
  pre {
    @apply print:break-inside-avoid;
  }

  article {
    @apply max-w-prose mx-auto px-6 sm:px-8;
  }
}

@page {
  margin: 0.75in 0;
}

@page :left {
  @bottom-left {
    content: counter(page);
    @apply text-xs text-dimmed ml-18;
  }
}

@page :right {
  @bottom-right {
    content: counter(page);
    @apply text-xs text-dimmed mr-18;
  }
}
