@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    @apply print:wrap-break-word;
  }

  /* Typography */

  body {
    @apply font-sans leading-relaxed text-highlighted;
  }

  strong {
    @apply font-semibold;
  }

  mark {
    @apply bg-transparent underline underline-offset-0 decoration-[0.25em] decoration-(--ui-bg-accented) text-inherit;
    text-decoration-skip-ink: none;
  }

  /* Headings */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold leading-tight print:break-inside-avoid print:break-after-avoid;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl mt-10;
  }

  h3 {
    @apply text-xl mt-8;
  }

  h4 {
    @apply text-lg mt-6;
  }

  h5 {
    @apply text-base mt-4;
  }

  h6 {
    @apply text-sm mt-4;
  }

  h1,
  h2,
  h3 {
    @media print {
      orphans: 3;
      widows: 3;
    }
  }

  /* Prose */

  :not(li) > p {
    @apply my-4;

    &:has(+ :is(ul, ol)) {
      @apply mb-0;
    }
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul,
  ol {
    @apply list-outside pl-5 my-1;
  }

  /* Blocks */

  hr {
    @apply border-default;
  }

  table {
    @apply my-6 w-full border-collapse text-[0.875rem];
  }

  tbody {
    tr {
      @apply border-b border-dashed border-muted print:break-inside-avoid;

      &:last-child {
        @apply border-b-0;
      }
    }

    td {
      @apply p-1.5 align-text-top leading-tight;

      &:first-child {
        @apply pl-0;
      }
      &:last-child {
        @apply pr-0;
      }
    }
  }

  blockquote {
    @apply my-4 pl-4 bg-transparent border-l-3 border-muted text-sm text-toned;
  }

  /* Compact blockquote within list items */
  li > blockquote {
    @apply my-1;
  }

  blockquote,
  pre {
    @apply print:break-inside-avoid;
  }
}
