@layer components {
  .breakout {
    @apply max-w-full bg-elevated my-8 print:break-inside-avoid;

    &.note {
      @apply px-6 sm:px-12 md:px-16 py-2 text-sm;

      :is(p, table, ol, ul) {
        @apply my-2;
      }

      table {
        @apply -mx-3;
      }
    }

    &.ipa-chart {
      @apply px-6 py-4 overflow-x-auto;

      table {
        @apply m-0;

        td {
          @apply pt-2 whitespace-nowrap;

          [lang="xdq"] {
            @apply block font-medium;
          }
        }
      }
    }

    &.img {
      @apply bg-transparent border-none;

      > :nth-child(1) {
        @apply m-0 overflow-hidden;

        > img {
          @apply object-cover object-center;
        }
      }

      > :nth-child(2) {
        @apply mt-3 mx-16 text-center text-xs text-default;
      }
    }
  }

  /* Auto-numbering for Sections */
  [data-numbering]::before {
    content: attr(data-numbering);
    @apply mr-[0.5em] select-none;
  }
}
