@layer components {
  /* Colon Blocks (:::note, etc.) */
  .colon-block {
    @apply px-16 py-2 bg-elevated text-[0.875rem] my-6 -mx-16 print:break-inside-avoid border-y border-muted/25;

    p,
    ul,
    ol {
      @apply my-2;
    }
  }

  /* IPA Phonetic Charts */
  .ipa-chart table td {
    @apply pt-2 whitespace-nowrap text-xs;

    [lang="xdq"] {
      @apply block text-[1.5em]/[1.15] text-highlighted;
    }
  }

  /* Auto-numbering for Sections */
  [data-numbering]::before {
    content: attr(data-numbering);
    @apply mr-[0.5em] select-none;
  }

  .stripe {
    @apply bg-elevated py-4 px-8 my-8 -mx-16! print:break-inside-avoid overflow-x-auto border-y border-muted/25;

    > * {
      @apply m-0;
    }
  }

  .btn-outer {
    @apply hover:bg-accented/50! active:bg-accented/50!;
  }
}
