@layer components {
  .band {
    @apply bg-elevated px-8 py-4 -mx-16 my-8 print:break-inside-avoid border-y border-muted/25;

    &.note {
      @apply px-16 py-0 my-4 text-sm;
    }

    &.ipa-chart {
      @apply my-6 overflow-x-auto;

      table {
        @apply m-0;

        td {
          @apply pt-2 whitespace-nowrap text-xs;

          [lang="xdq"] {
            @apply block text-[1.5em]/[1.15] text-highlighted;
          }
        }
      }
    }
  }

  /* Auto-numbering for Sections */
  [data-numbering]::before {
    content: attr(data-numbering);
    @apply mr-[0.5em] select-none;
  }

  .btn-outer {
    @apply hover:bg-accented/50! active:bg-accented/50!;
  }
}
