@layer components {
  .band {
    @apply bg-elevated px-8 py-4 -mx-16 my-8 print:break-inside-avoid border-y border-muted/25;

    &.note {
      @apply px-16 py-2 my-6 text-sm;

      :is(p, table, ol, ul) {
        @apply my-2;
      }

      table {
        @apply -mx-3 w-[calc(100%+var(--spacing)*6)];
      }
    }

    &.ipa-chart {
      @apply my-6 px-6 overflow-x-auto;

      table {
        @apply m-0;

        td {
          @apply pt-2 whitespace-nowrap text-xs;

          [lang="xdq"] {
            @apply block text-[1.5em]/[1.15] text-highlighted;
          }
        }
      }
    }

    &.img {
      @apply mx-0 p-0 bg-transparent border-none;

      > :nth-child(1) {
        @apply -mx-16 sm:mx-0 overflow-hidden m-0;

        > img {
          @apply object-cover object-center;
        }
      }

      > :nth-child(2) {
        @apply mt-3 text-center text-xs text-default;
      }
    }
  }

  /* Auto-numbering for Sections */
  [data-numbering]::before {
    content: attr(data-numbering);
    @apply mr-[0.5em] select-none;
  }

  .btn-outer {
    @apply hover:bg-accented/50! active:bg-accented/50!;
  }
}
