@layer components {
  /* Colon Blocks (:::note, etc.) */
  .colon-block {
    @apply rounded-sm px-4 py-3 border-l-4 border-default/50 bg-elevated/50 text-[0.875rem] my-4;

    p,
    ul,
    ol {
      @apply my-2;
    }
  }

  /* Figures */
  .fig {
    @apply my-6 rounded-sm w-full object-cover object-top dark:opacity-90;
  }

  .figcap {
    @apply -mt-3 mb-6 italic text-center text-xs text-toned;
  }

  /* IPA Phonetic Charts */
  .ipa-chart {
    @apply my-4 -mx-6 sm:mx-0 px-6 sm:px-0 overflow-x-auto;

    table {
      @apply my-0;
      td {
        @apply pt-2 whitespace-nowrap text-xs text-default;

        [lang="xdq"] {
          @apply block text-[1.5em]/[1.15] text-highlighted;
        }
      }
    }
  }

  /* Auto-numbering for Sections */
  [data-numbering]::before {
    content: attr(data-numbering);
    @apply mr-[0.5em] select-none;
  }

  /* Spacer Utility */
  .air {
    @apply my-6 border-0;
  }
}
