@import "tailwindcss";
@source "../../**/*.vue";
@source "../../../src/**/*.md";
@source "../../ui.config.ts";
@import "@nuxt/ui";

@import "./base.css";
@import "./components.css";
@import "./text-formatting.css";
@import "./navigation.css";
