@layer components {
  #app {
    @apply isolate;
  }

  a {
    @apply transition-colors duration-200 underline underline-offset-[0.15em] decoration-(--ui-text-muted) hover:decoration-(--ui-text-highlighted);
  }

  .navlinks {
    @apply text-muted font-medium;

    a {
      @apply py-1.5 px-3 no-underline hover:text-highlighted!;

      &.active {
        @apply text-highlighted!;
      }
    }
  }

  *:has(> .header-anchor) {
    @apply relative;

    > .header-anchor {
      @apply absolute font-sans left-0 -translate-x-full text-muted select-none transition-[opacity,color] duration-200 hover:text-highlighted! opacity-0 no-underline pr-[0.375em];
    }

    &:hover > .header-anchor {
      @apply opacity-100;
    }
  }

  h1 .header-anchor {
    @apply hidden;
  }
}
