@layer components {
  #app {
    @apply isolate;
  }

  .navbar {
    @apply max-w-prose print:max-w-full mx-auto px-4 sm:px-6;
  }

  .navlinks {
    @apply font-medium text-muted;

    a {
      @apply py-1.5 px-2.5 no-underline hover:text-highlighted!;

      &.active {
        @apply text-highlighted!;
      }
    }
  }

  *:has(> .header-anchor) {
    @apply relative;

    > .header-anchor {
      @apply absolute font-sans left-0 -translate-x-full text-muted select-none hover:text-highlighted! transition-opacity opacity-0 duration-200 no-underline pr-[0.375em];
    }

    &:hover > .header-anchor {
      @apply opacity-100;
    }
  }

  h1 .header-anchor {
    @apply hidden;
  }

  aside,
  button,
  [role="button"],
  .header-anchor {
    @apply print:hidden!;
  }
}
