@layer components {
  #app {
    @apply isolate;
  }

  .navbar {
    @apply max-w-prose print:max-w-full mx-auto px-4 sm:px-6;
  }

  .navlinks {
    @apply font-medium text-muted;

    a {
      @apply py-1.5 px-2.5 no-underline hover:text-highlighted!;

      &.active {
        @apply text-highlighted!;
      }
    }
  }

  *:has(> .header-anchor) {
    @apply relative;

    > .header-anchor {
      @apply absolute font-sans left-0 -translate-x-full text-muted select-none hover:text-highlighted! opacity-0 transition duration-200 no-underline pr-[0.375em];
    }

    &:hover > .header-anchor {
      @apply opacity-100;
    }
  }

  h1 .header-anchor {
    @apply hidden;
  }

  aside,
  button,
  [role="button"],
  .header-anchor {
    @apply print:hidden!;
  }

  .toc-scroll {
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    mask-image: linear-gradient(
      to bottom,
      transparent,
      black 1.5rem,
      black calc(100% - 1.5rem),
      transparent
    );

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
