@layer components {
  #app {
    @apply isolate;
  }

  a {
    @apply transition-colors duration-200 underline underline-offset-[0.2em] decoration-(--ui-text-muted) hover:decoration-(--ui-text-highlighted);
  }

  .navlinks {
    @apply font-medium text-muted;

    a {
      @apply py-1.5 px-3 no-underline hover:text-highlighted!;

      &.active {
        @apply text-highlighted!;
      }
    }
  }

  *:has(> .header-anchor) {
    @apply relative;

    > .header-anchor {
      @apply absolute font-sans left-0 -translate-x-full -translate-y-0.5 text-muted select-none transition-[opacity,color] duration-200 hover:text-highlighted! opacity-0 no-underline pr-[0.375em];
    }

    &:hover > .header-anchor {
      @apply opacity-100;
    }
  }

  h1 .header-anchor {
    @apply hidden;
  }

  aside,
  button,
  [role="button"],
  .header-anchor {
    @apply print:hidden!;
  }
}
