@layer components {
  [lang="xdq"] {
    @apply font-serif;
    font-variation-settings: "GRAD" 50;
  }

  :is(h1, h2, h3, h4, h5, h6) [lang="xdq"] {
    font-variation-settings: "GRAD" 0;
  }

  strong {
    @apply font-semibold;
  }

  .gloss {
    @apply text-default;
  }

  mark {
    @apply bg-transparent underline underline-offset-2 decoration-3 decoration-(--ui-border-accented)/75 text-inherit;
    text-decoration-skip-ink: none;
  }

  .band.note {
    ul {
      list-style-type: "– ";
    }
  }
}
