@layer components {
  [lang="xdq"] {
    @apply font-serif font-medium align-baseline text-[1.25em]/[1.2];

    &:is(strong),
    strong {
      @apply font-bold;
    }
  }

  :is(h1, h2, h3, h4, h5, h6) [lang="xdq"] {
    @apply leading-[0.88] font-bold;
  }

  mark {
    @apply bg-transparent underline underline-offset-[0.1em] decoration-[0.15em] decoration-(--ui-border-accented) text-inherit;
    text-decoration-skip-ink: none;
  }

  strong {
    @apply font-semibold;

    [lang="xdq"] {
      @apply font-bold;
    }
  }
}
