@layer components {
  [lang="xdq"] {
    @apply font-serif;

    &:not(:is(h1, h2, h3, h4, h5, h6)) {
      @apply font-medium align-baseline text-[1.25em]/[1.3];
    }
  }

  .gloss {
    @apply text-default text-[0.875em];
  }

  mark {
    @apply bg-transparent underline underline-offset-[0.05em] decoration-[0.25em] decoration-(--ui-border-accented)/75 text-inherit;
    text-decoration-skip-ink: none;
  }
}
