@theme {
  --font-sans: "IBM Plex Sans", "Noto Sans Math", sans-serif;
}

@layer base {
  body {
    @apply font-sans leading-relaxed text-highlighted;
  }

  strong {
    @apply font-semibold;
  }

  mark {
    @apply bg-transparent underline underline-offset-0 decoration-[0.25em] decoration-(--ui-bg-accented) text-inherit;
    text-decoration-skip-ink: none;
  }
}
