@import "tailwindcss";
@source "../**/*.vue";
@source "../../src/**/*.md";
@source "../ui.config.ts";
@import "@nuxt/ui";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "EB Garamond", serif;
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans leading-relaxed text-highlighted;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ol,
  ul {
    @apply list-outside pl-5 my-4;
  }

  li:has(span[lang="xdq"]) {
    @apply leading-snug;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold leading-tight relative;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl mt-12;
  }

  h3 {
    @apply text-xl mt-8;
  }

  h4 {
    @apply text-lg mt-4;
  }

  h5 {
    @apply text-base mt-3;
  }

  h6 {
    @apply text-sm mt-2;
  }

  p,
  table {
    @apply my-4;
  }

  a {
    @apply transition-colors duration-200 underline underline-offset-[0.2em] decoration-(--ui-text-muted) hover:decoration-(--ui-text-highlighted);
  }

  hr {
    @apply border-default;
  }

  mark {
    @apply bg-transparent underline underline-offset-[0.05em] decoration-[0.25em] decoration-(--ui-border-accented)/75 text-inherit;
    text-decoration-skip-ink: none;
  }

  table {
    @apply w-full border-collapse rounded-sm bg-elevated text-[0.875rem];
  }

  tbody {
    tr {
      @apply border-b border-default/50;

      &:last-child {
        @apply border-b-0;
      }
    }
    td {
      @apply px-3 py-1.5 align-text-top leading-snug;
    }
  }

  article {
    @apply max-w-prose mx-auto px-6 sm:px-8;
  }
}

@layer components {
  #app {
    @apply isolate;
  }

  .navbar {
    @apply max-w-prose mx-auto px-4 sm:px-6;
  }

  [lang="xdq"] {
    @apply font-serif;

    &:not(:is(h1, h2, h3, h4, h5, h6)) {
      @apply font-medium align-baseline text-[1.25em]/[1.3];
    }
  }

  .gloss {
    @apply text-toned text-[0.875em];
  }

  .navlinks {
    @apply font-medium text-muted;

    a {
      @apply py-1.5 px-2.5 no-underline hover:text-highlighted!;
    }
  }

  :is(h2, h3, h4, h5, h6) {
    > .header-anchor {
      @apply absolute left-0 -translate-x-full font-medium text-muted hover:text-highlighted! opacity-0 transition duration-200 no-underline pr-[0.375em];
    }

    &:hover > .header-anchor {
      @apply opacity-100;
    }
  }

  h1 .header-anchor {
    @apply hidden;
  }

  [data-numbering]::before {
    content: attr(data-numbering);
    @apply mr-[0.5em] select-none;
  }

  .colon-block {
    @apply rounded-sm px-4 py-3 border-l-4 border-default/50 bg-elevated/50 text-[0.875rem] my-4;

    p,
    ul,
    ol {
      @apply my-2;
    }
  }

  .air {
    @apply my-6 border-0;
  }
}
