@import "tailwindcss";
@source "../**/*.vue";
@source "../../src/**/*.md";
@source "../config.ts";
@import "@nuxt/ui";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "EB Garamond", serif;
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  #app {
    @apply isolate;
  }

  body {
    @apply font-sans leading-relaxed;
  }

  h1,
  h2,
  h3 {
    @apply font-semibold leading-tight;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl mt-12;
  }

  h3 {
    @apply text-xl mt-6;
  }

  p {
    @apply my-4;
  }

  a {
    @apply transition text-primary hover:text-default underline;
  }

  [lang="xdq"] {
    @apply font-serif font-medium text-lg/normal align-baseline;
  }
}

@layer components {
  .content-container {
    @apply max-w-prose mx-auto px-6 sm:px-8;
  }
}
