@import "tailwindcss";
@source "../**/*.vue";
@source "../../src/**/*.md";
@source "../config.ts";
@import "@nuxt/ui";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "EB Garamond", serif;
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply font-sans leading-relaxed;
  }

  h1,
  h2,
  h3 {
    @apply font-semibold leading-tight;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl mt-12;
  }

  h3 {
    @apply text-xl mt-6;
  }

  p {
    @apply my-4;
  }

  a {
    @apply transition text-primary hover:text-default underline;
  }

  table {
    @apply w-full border-collapse text-sm rounded-md bg-muted;
  }

  tbody {
    tr {
      @apply border-b border-muted/75;

      &:last-child {
        @apply border-b-0;
      }
    }
    td {
      @apply px-3 py-1.5 align-text-top;
    }
  }
}

@layer components {
  .content-container {
    @apply max-w-prose mx-auto px-6 sm:px-8;
  }

  [lang="xdq"] {
    @apply font-serif font-medium align-baseline;
  }

  .gloss {
    @apply text-muted;
  }

  .highlight {
    @apply underline underline-offset-[-0.25em] decoration-[0.5em] decoration-(--ui-bg-accented);
    text-decoration-skip-ink: none;
  }

  #app {
    @apply isolate;
  }
}
