@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-serif: "IBM Plex Serif", serif;
  --font-mono: "IBM Plex Mono", monospace;
  --font-kaitag: "EB Garamond", serif;
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply font-sans;
  }

  main {
    @apply leading-relaxed;
  }

  h1,
  h2,
  h3 {
    @apply font-semibold leading-tight font-serif;
  }

  h1 {
    @apply text-3xl mb-6;
  }

  h2 {
    @apply text-2xl mt-12 mb-6;
  }

  h3 {
    @apply text-xl mt-6 mb-4;
  }

  p {
    @apply mb-4;
  }

  [lang="xdq"] {
    @apply font-kaitag font-medium text-[1.1em] leading-normal align-baseline;
  }
}

@layer components {
  .content-container {
    @apply max-w-prose mx-auto px-6 sm:px-8;
  }
}
